<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78959774904-o4djao5q0lmpikb3agfrpqt30gus1un3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78959774904-o4djao5q0lmpikb3agfrpqt30gus1un3</string>
	<key>API_KEY</key>
	<string>AIzaSyDJWIiY9RPfZ07x94lGAXNoYoRnEt0pZDU</string>
	<key>GCM_SENDER_ID</key>
	<string>78959774904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mohamedElgamalWeatherTask</string>
	<key>PROJECT_ID</key>
	<string>momo-4ad9c</string>
	<key>STORAGE_BUCKET</key>
	<string>momo-4ad9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78959774904:ios:d7ffef41944ffd2c88384d</string>
	<key>DATABASE_URL</key>
	<string>https://momo-4ad9c.firebaseio.com</string>
</dict>
</plist>